![logo_ironhack_blue 7](https://user-images.githubusercontent.com/23629340/40541063-a07a0a8a-601a-11e8-91b5-2f13e4e6b441.png)

# Lab | Revisiting Machine Learning Case Study

- In this lab, you will use `learningSet.csv` file which you already have cloned in today's activities. The full process for the week is shown in the PDF file.

### Instructions

Complete the following steps on the categorical columns in the dataset:

- Check for null values in all the columns
- Exclude the following variables by looking at the definitions. Create a new empty list called `drop_list`. We will append this list and then drop all the columns in this list later:
    - `OSOURCE` - symbol definitions not provided, too many categories
    - `ZIP` - we are including state already
- Identify columns that have over 50% missing values.
- Remove those columns from the dataframe
- Perform all of the cleaning processes from the Lesson.
- Reduce the number of categories in the column `GENDER`. The column should only have either "M" for males, "F" for females, and "other" for all the rest
    - Note that there are a few null values in the column. We will first replace those null values using the code below:

    ```python
    print(categorical['GENDER'].value_counts())
    categorical['GENDER'] = categorical['GENDER'].fillna('F')
    ```

In [279]:
# import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
pd.set_option('display.max_columns', None)

In [280]:
# import data 
data = pd.read_csv('learningSet.csv')

C:\Users\usuario\AppData\Local\Temp\ipykernel_26424\1478461436.py:2: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('learningSet.csv')

In [281]:
# get categorical columns
categorical = data.select_dtypes(object)
categorical.head()

,OSOURCE,STATE,ZIP,MAILCODE,PVASTATE,NOEXCH,RECINHSE,RECP3,RECPGVG,RECSWEEP,MDMAUD,DOMAIN,CLUSTER,AGEFLAG,HOMEOWNR,CHILD03,CHILD07,CHILD12,CHILD18,GENDER,DATASRCE,SOLP3,SOLIH,MAJOR,GEOCODE,COLLECT1,VETERANS,BIBLE,CATLG,HOMEE,PETS,CDPLAY,STEREO,PCOWNERS,PHOTO,CRAFTS,FISHER,GARDENIN,BOATS,WALKER,KIDSTUFF,CARDS,PLATES,LIFESRC,PEPSTRFL,RFA_2,RFA_3,RFA_4,RFA_5,RFA_6,RFA_7,RFA_8,RFA_9,RFA_10,RFA_11,RFA_12,RFA_13,RFA_14,RFA_15,RFA_16,RFA_17,RFA_18,RFA_19,RFA_20,RFA_21,RFA_22,RFA_23,RFA_24,RFA_2R,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,GEOCODE2
0,GRI,IL,61081,,,0,,,,,XXXX,T2,36,,,,,,,F,,,,,,,,,,,,,,,,,,,,,,,,,X,L4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,L,E,X,X,X,C
1,BOA,CA,91326,,,0,,,,,XXXX,S1,14,E,H,,,,M,M,3,,,,2,,,,,,,,,,,,,,,,,,,,,L2G,A2G,A2G,A2G,A2G,A1E,A1E,A1E,A1E,A1E,A1E,,,,L1E,,,N1E,N1E,N1E,N1E,,F1E,L,G,X,X,X,A
2,AMH,NC,27017,,,0,,,,,XXXX,R2,43,,U,,,,,M,3,,,,,,,,,,,,,,,,,,,,,,,,X,L4E,S4E,S4E,S4E,S4E,S4F,S4F,S4F,,S4F,S4F,S4F,S4F,S4F,S4F,,S4D,S4D,,,S4D,S4D,S3D,L,E,X,X,X,C
3,BRY,CA,95953,,,0,,,,,XXXX,R2,44,E,U,,,,,F,3,,,,,,,,,,,,,,,,,,,,,,,,X,L4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,,S4E,S4E,S4E,S4E,S4E,S4E,S2D,S2D,A1D,A1D,A1D,A1D,,,L,E,X,X,X,C
4,,FL,33176,,,0,X,X,,,XXXX,S2,16,E,H,,,,,F,3,,12,,,,,Y,Y,,,,Y,,,Y,,Y,,Y,,Y,,3,,L2F,A2F,A2F,A2F,A1D,I2D,A1E,A1E,L1D,A1E,A1E,L1D,L3D,,L3D,A2D,A2D,A3D,A3D,A3D,I4E,A3D,A3D,L,F,X,X,X,A

In [282]:
categorical.shape

(95412, 74)

In [283]:
columns_with_na = categorical.columns[categorical.isna().sum() > 0]

In [284]:
columns_with_na

Index(['GEOCODE2'], dtype='object')

In [285]:
categorical[columns_with_na].isna().sum()

GEOCODE2    132
dtype: int64

In [286]:
drop_list = []

In [287]:
# drop_list.append(['OSOURCE','ZIP'])

columns with 50% NaN values

In [288]:
categorical['MAILCODE'].value_counts(dropna=False)

     94013
B     1399
Name: MAILCODE, dtype: int64

In [289]:
categorical['MAILCODE'] = categorical['MAILCODE'].apply(lambda x: x.replace(" ", "A"))

In [290]:
# group all the states with counts less than 2500 into one category "other"
pd.DataFrame(categorical['STATE'].value_counts()).reset_index()

   index  STATE
0     CA  17343
1     FL   8376
2     TX   7535
3     IL   6420
4     MI   5654
5     NC   4160
6     WA   3577
7     GA   3403
8     IN   2980
9     WI   2795
10    MO   2712
11    TN   2492
12    AZ   2407
13    OR   2183
14    MN   2175
15    CO   2032
16    SC   1759
17    AL   1705
18    KY   1620
19    OK   1617
20    LA   1594
21    KS   1294
22    IA   1271
23    AR   1020
24    MS    986
25    NV    979
26    NM    877
27    NE    754
28    UT    569
29    ID    533
30    MT    527
31    HI    449
32    SD    301
33    WY    283
34    AK    282
35    ND    260
36    AP     81
37    NY     71
38    VA     55
39    OH     52
40    PA     38
41    MD     34
42    NJ     26
43    MA     25
44    CT     23
45    AA     18
46    AE     15
47    ME     11
48    NH      8
49    VT      7
50    RI      6
51    VI      5
52    WV      4
53    GU      4
54    DE      3
55    DC      1
56    AS      1

In [291]:
df = pd.DataFrame(categorical['STATE'].value_counts()).reset_index()

df.columns = ['state', 'count']
other_states = list(df[df['count']<2500]['state'])
#other_states
def clean_state(x):
    if x in other_states:
        return 'other'
    else:
        return x
    
categorical['STATE'] = list(map(clean_state, categorical['STATE']))

In [292]:
categorical['STATE'].value_counts()

other    30457
CA       17343
FL        8376
TX        7535
IL        6420
MI        5654
NC        4160
WA        3577
GA        3403
IN        2980
WI        2795
MO        2712
Name: STATE, dtype: int64

In [293]:
categorical['DOMAIN'].value_counts(dropna=False)

R2    13623
T2    12369
S1    11503
S2     8530
C2     8264
C1     6145
C3     5280
T1     4982
R3     4809
U1     4510
U2     3254
U3     2598
       2316
T3     2176
S3     1891
U4     1804
R1     1358
Name: DOMAIN, dtype: int64

In [294]:
categorical['DOMAIN'] = categorical['DOMAIN'].apply(lambda x: x.replace(" ", "R2"))

In [295]:
categorical['DOMAIN_A'] = list(map(lambda x: x[0], categorical['DOMAIN']))
categorical['DOMAIN_B'] = list(map(lambda x: x[1], categorical['DOMAIN']))

In [296]:
categorical[['DOMAIN','DOMAIN_A','DOMAIN_B']].head()

  DOMAIN DOMAIN_A DOMAIN_B
0     T2        T        2
1     S1        S        1
2     R2        R        2
3     R2        R        2
4     S2        S        2

In [297]:
categorical.DOMAIN_B.value_counts()

2    48356
1    28498
3    16754
4     1804
Name: DOMAIN_B, dtype: int64

In [298]:
drop_list.append('DOMAIN')

In [299]:
categorical['MAILCODE'].value_counts()

A    94013
B     1399
Name: MAILCODE, dtype: int64

In [300]:
drop_list.append('MAILCODE')

In [301]:
categorical['NOEXCH'].value_counts(dropna=False)

0    61203
0    33882
1      195
1       90
X       35
         7
Name: NOEXCH, dtype: int64

In [302]:
drop_list.append('NOEXCH')

In [303]:
print(categorical['MDMAUD'].value_counts())

XXXX    95118
C1CM       65
L1CM       44
I1CM       37
D2CM       28
C2CM       24
D1CM       20
L2CM       15
L1LM        8
C1LM        8
I2CM        7
D5CM        5
D5MM        5
D2MM        4
C5CM        3
C2MM        3
C2LM        3
D5TM        3
I1LM        3
I5CM        1
C1MM        1
I5MM        1
C5MM        1
I2MM        1
L1MM        1
L2LM        1
C5TM        1
L2TM        1
Name: MDMAUD, dtype: int64

In [304]:
drop_list.append('MDMAUD')

In [305]:
categorical['MDMAUD_R'].value_counts()

X    95118
C      109
L       70
D       65
I       50
Name: MDMAUD_R, dtype: int64

In [306]:
drop_list = drop_list + ['MDMAUD_R', 'MDMAUD_F','MDMAUD_A']

In [307]:
categorical['CLUSTER'].value_counts(dropna=False)

40    3979
35    3624
36    3617
27    3553
24    3539
49    3315
12    3000
18    2897
13    2706
30    2607
39    2601
45    2515
43    2385
11    2378
51    2322
      2316
14    2246
41    2176
44    1953
16    1947
2     1942
21    1891
8     1828
10    1804
46    1800
28    1630
17    1621
20    1568
53    1441
3     1428
34    1358
42    1358
23    1324
31    1285
22    1282
25    1275
38    1200
15    1173
1     1140
7     1076
5     1014
37     972
26     947
47     868
29     859
32     795
48     787
50     776
9      770
6      603
33     593
4      561
19     497
52     270
Name: CLUSTER, dtype: int64

In [308]:
categorical['CLUSTER'].sort_values().unique()

array([' ', '1', '10', '11', '12', '13', '14', '15', '16', '17', '18',
       '19', '2', '20', '21', '22', '23', '24', '25', '26', '27', '28',
       '29', '3', '30', '31', '32', '33', '34', '35', '36', '37', '38',
       '39', '4', '40', '41', '42', '43', '44', '45', '46', '47', '48',
       '49', '5', '50', '51', '52', '53', '6', '7', '8', '9'],
      dtype=object)

In [309]:
sorted(categorical['CLUSTER'].unique())

[' ',
 '1',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '2',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '3',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '4',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '5',
 '50',
 '51',
 '52',
 '53',
 '6',
 '7',
 '8',
 '9']

In [310]:
categorical['CLUSTER'] = categorical['CLUSTER'].fillna('40') # 'other' would also be a valid choice

In [311]:
categorical['HOMEOWNR'].value_counts(dropna=False)

H    52354
     22228
U    20830
Name: HOMEOWNR, dtype: int64

In [312]:
categorical['HOMEOWNR'] = categorical['HOMEOWNR'].apply(lambda x: x.replace(" ", "N")) # assumption: NAN means 'not a home owner'

In [313]:
categorical['GENDER'].value_counts(dropna=False)

F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [314]:
replace_dict = {" ": "U", "J": "U", "C": "U", "A": "U"}
categorical['GENDER'] = categorical['GENDER'].replace(replace_dict)

In [315]:
categorical['DATASRCE'].value_counts(dropna=False)

3    43549
2    23455
     21280
1     7128
Name: DATASRCE, dtype: int64

In [316]:
categorical['DATASRCE'] = categorical['DATASRCE'].apply(lambda x: x.replace(" ", "0")) # assumption: NAN means 'not a home owner'

In [317]:
categorical['GEOCODE2'].value_counts(dropna=False)

A      34484
B      28505
D      16580
C      15524
         187
NaN      132
Name: GEOCODE2, dtype: int64

In [318]:
categorical['GEOCODE2'] = categorical['GEOCODE2'].fillna('A')

In [319]:
replace_dict = {" ": "A"}
categorical['GEOCODE2'] = categorical['GEOCODE2'].replace(replace_dict)

In [320]:
categorical['RFA_8'].value_counts()

A1F    11312
A1E     6904
A1G     5063
A2F     4961
F1F     3984
       ...
I4E        2
U1D        1
L4C        1
I3E        1
L3C        1
Name: RFA_8, Length: 109, dtype: int64

In [321]:
for col_name in categorical.columns:
    if "RFA" in col_name:
        drop_list.append(col_name)

In [322]:
drop_list

['DOMAIN',
 'MAILCODE',
 'NOEXCH',
 'MDMAUD',
 'MDMAUD_R',
 'MDMAUD_F',
 'MDMAUD_A',
 'RFA_2',
 'RFA_3',
 'RFA_4',
 'RFA_5',
 'RFA_6',
 'RFA_7',
 'RFA_8',
 'RFA_9',
 'RFA_10',
 'RFA_11',
 'RFA_12',
 'RFA_13',
 'RFA_14',
 'RFA_15',
 'RFA_16',
 'RFA_17',
 'RFA_18',
 'RFA_19',
 'RFA_20',
 'RFA_21',
 'RFA_22',
 'RFA_23',
 'RFA_24',
 'RFA_2R',
 'RFA_2A']

In [323]:
drop_list.remove('RFA_2R')
drop_list.remove('RFA_2A')
drop_list

['DOMAIN',
 'MAILCODE',
 'NOEXCH',
 'MDMAUD',
 'MDMAUD_R',
 'MDMAUD_F',
 'MDMAUD_A',
 'RFA_2',
 'RFA_3',
 'RFA_4',
 'RFA_5',
 'RFA_6',
 'RFA_7',
 'RFA_8',
 'RFA_9',
 'RFA_10',
 'RFA_11',
 'RFA_12',
 'RFA_13',
 'RFA_14',
 'RFA_15',
 'RFA_16',
 'RFA_17',
 'RFA_18',
 'RFA_19',
 'RFA_20',
 'RFA_21',
 'RFA_22',
 'RFA_23',
 'RFA_24']

In [ ]:
# drop_list.remove('OSOURCE')
# drop_list.remove('ZIP')
# drop_list

In [325]:
drop_list = list(drop_list)
categorical = categorical.drop(columns=categorical.columns[categorical.columns.isin(drop_list)])
categorical.head()

,OSOURCE,STATE,ZIP,PVASTATE,RECINHSE,RECP3,RECPGVG,RECSWEEP,CLUSTER,AGEFLAG,HOMEOWNR,CHILD03,CHILD07,CHILD12,CHILD18,GENDER,DATASRCE,SOLP3,SOLIH,MAJOR,GEOCODE,COLLECT1,VETERANS,BIBLE,CATLG,HOMEE,PETS,CDPLAY,STEREO,PCOWNERS,PHOTO,CRAFTS,FISHER,GARDENIN,BOATS,WALKER,KIDSTUFF,CARDS,PLATES,LIFESRC,PEPSTRFL,RFA_2R,RFA_2A,GEOCODE2,DOMAIN_A,DOMAIN_B
0,GRI,IL,61081,,,,,,36,,N,,,,,F,0,,,,,,,,,,,,,,,,,,,,,,,,X,L,E,C,T,2
1,BOA,CA,91326,,,,,,14,E,H,,,,M,M,3,,,,2,,,,,,,,,,,,,,,,,,,,,L,G,A,S,1
2,AMH,NC,27017,,,,,,43,,U,,,,,M,3,,,,,,,,,,,,,,,,,,,,,,,,X,L,E,C,R,2
3,BRY,CA,95953,,,,,,44,E,U,,,,,F,3,,,,,,,,,,,,,,,,,,,,,,,,X,L,E,C,R,2
4,,FL,33176,,X,X,,,16,E,H,,,,,F,3,,12,,,,,Y,Y,,,,Y,,,Y,,Y,,Y,,Y,,3,,L,F,A,S,2

In [326]:
categorical = categorical.apply(lambda x: x.replace(" ", np.NaN))

In [327]:

categorical.head()

,OSOURCE,STATE,ZIP,PVASTATE,RECINHSE,RECP3,RECPGVG,RECSWEEP,CLUSTER,AGEFLAG,HOMEOWNR,CHILD03,CHILD07,CHILD12,CHILD18,GENDER,DATASRCE,SOLP3,SOLIH,MAJOR,GEOCODE,COLLECT1,VETERANS,BIBLE,CATLG,HOMEE,PETS,CDPLAY,STEREO,PCOWNERS,PHOTO,CRAFTS,FISHER,GARDENIN,BOATS,WALKER,KIDSTUFF,CARDS,PLATES,LIFESRC,PEPSTRFL,RFA_2R,RFA_2A,GEOCODE2,DOMAIN_A,DOMAIN_B
0,GRI,IL,61081,NaN,NaN,NaN,NaN,NaN,36,NaN,N,NaN,NaN,NaN,NaN,F,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,L,E,C,T,2
1,BOA,CA,91326,NaN,NaN,NaN,NaN,NaN,14,E,H,NaN,NaN,NaN,M,M,3,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,L,G,A,S,1
2,AMH,NC,27017,NaN,NaN,NaN,NaN,NaN,43,NaN,U,NaN,NaN,NaN,NaN,M,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,L,E,C,R,2
3,BRY,CA,95953,NaN,NaN,NaN,NaN,NaN,44,E,U,NaN,NaN,NaN,NaN,F,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,L,E,C,R,2
4,NaN,FL,33176,NaN,X,X,NaN,NaN,16,E,H,NaN,NaN,NaN,NaN,F,3,NaN,12,NaN,NaN,NaN,NaN,Y,Y,NaN,NaN,NaN,Y,NaN,NaN,Y,NaN,Y,NaN,Y,NaN,Y,NaN,3,NaN,L,F,A,S,2

In [328]:
nulls_percent_df = pd.DataFrame(categorical.isna().sum()/len(categorical)).reset_index()
nulls_percent_df
nulls_percent_df.columns = ['column_name', 'nulls_percentage']
nulls_percent_df

   column_name  nulls_percentage
0      OSOURCE          0.009726
1        STATE          0.000000
2          ZIP          0.000000
3     PVASTATE          0.984719
4     RECINHSE          0.929747
5        RECP3          0.978860
6      RECPGVG          0.998805
7     RECSWEEP          0.983052
8      CLUSTER          0.024274
9      AGEFLAG          0.309689
10    HOMEOWNR          0.000000
11     CHILD03          0.987989
12     CHILD07          0.983587
13     CHILD12          0.981019
14     CHILD18          0.970161
15      GENDER          0.000000
16    DATASRCE          0.000000
17       SOLP3          0.998113
18       SOLIH          0.935019
19       MAJOR          0.996919
20     GEOCODE          0.840230
21    COLLECT1          0.945479
22    VETERANS          0.890727
23       BIBLE          0.907024
24       CATLG          0.917568
25       HOMEE          0.990703
26        PETS          0.849851
27      CDPLAY          0.871568
28      STEREO          0.865908
29    PCOWNERS          0.890150
30       PHOTO          0.949839
31      CRAFTS          0.914308
32      FISHER          0.925271
33    GARDENIN          0.859535
34       BOATS          0.978745
35      WALKER          0.889940
36    KIDSTUFF          0.983901
37       CARDS          0.989089
38      PLATES          0.994131
39     LIFESRC          0.566302
40    PEPSTRFL          0.525542
41      RFA_2R          0.000000
42      RFA_2A          0.000000
43    GEOCODE2          0.000000
44    DOMAIN_A          0.000000
45    DOMAIN_B          0.000000

In [329]:
columns_above_threshold = nulls_percent_df[nulls_percent_df['nulls_percentage']>0.5]
columns_above_threshold['column_name']

3     PVASTATE
4     RECINHSE
5        RECP3
6      RECPGVG
7     RECSWEEP
11     CHILD03
12     CHILD07
13     CHILD12
14     CHILD18
17       SOLP3
18       SOLIH
19       MAJOR
20     GEOCODE
21    COLLECT1
22    VETERANS
23       BIBLE
24       CATLG
25       HOMEE
26        PETS
27      CDPLAY
28      STEREO
29    PCOWNERS
30       PHOTO
31      CRAFTS
32      FISHER
33    GARDENIN
34       BOATS
35      WALKER
36    KIDSTUFF
37       CARDS
38      PLATES
39     LIFESRC
40    PEPSTRFL
Name: column_name, dtype: object

In [330]:
drop_columns_list = list(columns_above_threshold['column_name'])
print(drop_columns_list)

['PVASTATE', 'RECINHSE', 'RECP3', 'RECPGVG', 'RECSWEEP', 'CHILD03', 'CHILD07', 'CHILD12', 'CHILD18', 'SOLP3', 'SOLIH', 'MAJOR', 'GEOCODE', 'COLLECT1', 'VETERANS', 'BIBLE', 'CATLG', 'HOMEE', 'PETS', 'CDPLAY', 'STEREO', 'PCOWNERS', 'PHOTO', 'CRAFTS', 'FISHER', 'GARDENIN', 'BOATS', 'WALKER', 'KIDSTUFF', 'CARDS', 'PLATES', 'LIFESRC', 'PEPSTRFL']

In [332]:
cols = ['VETERANS', 'SOLIH']
for item in cols:
    drop_columns_list.remove(item)

In [334]:
categorical = categorical.drop(columns=drop_columns_list)
categorical.shape

(95412, 15)

In [336]:
categorical = categorical.drop(columns=['AGEFLAG','OSOURCE','ZIP'])

In [337]:
categorical

,STATE,CLUSTER,HOMEOWNR,GENDER,DATASRCE,SOLIH,VETERANS,RFA_2R,RFA_2A,GEOCODE2,DOMAIN_A,DOMAIN_B
0,IL,36,N,F,0,NaN,NaN,L,E,C,T,2
1,CA,14,H,M,3,NaN,NaN,L,G,A,S,1
2,NC,43,U,M,3,NaN,NaN,L,E,C,R,2
3,CA,44,U,F,3,NaN,NaN,L,E,C,R,2
4,FL,16,H,F,3,12,NaN,L,F,A,S,2
...,...,...,...,...,...,...,...,...,...,...,...,...
95407,other,27,N,M,0,NaN,NaN,L,G,C,C,2
95408,TX,24,H,M,3,NaN,NaN,L,F,A,C,1
95409,MI,30,N,M,0,NaN,NaN,L,E,B,C,3
95410,CA,24,H,F,2,12,NaN,L,F,A,C,1
95411,NC,24,U,F,3,12,NaN,L,G,C,C,1